/* per riferirsi all'elemento host devo utilizzare la keyword :host */
/* questo ci permette di collegare tutte le proprietà css ad un solo codice univoco che angular crea per identificare il componente */
/* ad esempio codice _nghost-ng-c01, tutti gli elementi all'interno del template del componente che avranno un codice _ngcontent-ng-c01 vuol dire che si riferiscono a quell'host element  */

:host {
  /* course-card { */
  display: block;
}

/* qui course-card è una classe non l'elemento html */
.course-card {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.course-card .course-title {
  font-size: 27px;
  font-weight: bold;
}

.course-card .course-description {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 15px;
  user-select: none;
}

.course-card img {
  border-radius: 4px;
  margin-top: 10px;
}

:host.is-first {
  /* course-card.is-first { */
  border-top: 2px solid grey;
  padding-top: 20px;
}

:host.is-last {
  /* course-card.is-last { */
  border-bottom: 2px solid grey;
  padding-top: 20px;
}

:host.is-even {
  /* course-card.is-even { */
  background: lightgray;
}

:host.is-odd {
  /* course-card.is-odd { */
  background: lightcyan;
}

.course-card.beginner {
  background: lightsalmon;
}
