<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- Le DIRETTIVE STRUTTURALI come ngIf, ngFor, ngSwitch cambiano il dom aggiungendo o rimuovendo elementi, componenti o altre direttive -->
<!-- Le ATTRIBUTE DIRECTIVES sono ad esempio NgClass, NgStyle ed NgModel, cambiano l'aspetto o il comportamento di un elemento, componente o altre direttive -->
<!-- per creare una direttiva custom utilizzo il comando ng g directive directives/highlighted, sto generando una direttiva chiamata highlighted nella cartella directives nella cartella src/app -->
<!-- una direttiva è una classe ts -->
<!-- l'elemento a cui viene applicata la directive è chiamato Host Element -->
<!-- per passare un valore alla direttiva metto fra quadre il nome della direttiva che riferisce all'@Input indicato nella direttiva isHighlighted-->
<!-- STRUCTURAL DIRECTIVES, contrassegnate dall'*, ci permettono di modificare il DOM, aggiungendo o togliendo elementi -->
<div class="courses" *ngIf="courses[0] as course" #prova>
  <!-- tag per passare valore all'@Input isHighlighted-->
  <!-- <course-card
    [highlighted]="true"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  > -->
  <!-- tag senza passare valore all'@Input isHighlighted, di default sarà false come indicato nel .ts-->
  <!-- EVENTEMITTER aggiungo un ascolatore per l'evento custom toggleIsHighLighted-->
  <!-- EXPORTAS per fare rriferimento direttamente ad una direttiva devo creare una template reference ed assegnarle il nome di esportazione della direttiva -->
  <course-card
    [highlighted]="false"
    (toggleIsHighLighted)="onToggle($event)"
    #highlighter="direttivaHL"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  >
    <!-- creiamo una DIRETTIVA STRUTTURALE che chiamiamo *ngxUnless, tranne, determinerà se l'oggetto si vedrà o meno ma con la logica contraria a quella di *ngIf, quindi se la condizione è falsa -->
    <!-- per convenzione si utilizza il prefisso ngx per indicare che una direttiva non è di angular core ma è custom -->
    <!-- l'* è una shorthand che sta a significare che l'elemento a cui viene applicata la direttiva è come se venga inserito in un tag ng-template e che a questo venga applicata la direttiva in modo normale e se la condizione è rispettata viene renderizzato-->
    <!-- <ng-template [direttiva]></ng-template> -->

    <course-image [src]="course.iconUrl"></course-image>
    <!-- UTILIZZO DEL METODO TOGGLE DELLA DIRETTIVA -->
    <!-- al doppio click sulla descrizione del corso attivo o disattivo l'evidenziazione gialla -->
    <div class="course-description" (dblclick)="highlighter.toggle()">
      {{ course.longDescription }}
    </div>
  </course-card>
</div>
